<style>

.container-fluid {
  max-width: 100%;
  overflow: hidden;
}

.welcome-div {
  height: 300px;
  background-size: cover;
  background-position: center;
  opacity: ;
}

.imgdescribe1 {
  height:200px;
  width:;

  background-size: cover;
  background-position: center;
  opacity: ;
}


.footerbreak1{
  background-color: black;
  color: bisque;
}




.footer1 .copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}


.full-content {
  display: none;
}
</style>
