<style>

.container-fluid {
  max-width: 100%;
  overflow: hidden;
}



.welcome-div {
  height: 300px;
  background-image: url('https://img.freepik.com/premium-photo/microchip-processing-data-through-computer-motherboard-circuit-with-fully-protection-pad-lock-symbol-3d-rendering-abstract-cyber-security-safety-illustration-cpu-hardware-firewall-technology-concept_44651-576.jpg?w=1380');
  background-size: cover;
  background-position: center;
  opacity: ;
}

.imgdescribe1 {
  height: auto;
  background-image: url('https://img.freepik.com/free-vector/data-protection-concept-composition_1284-10001.jpg?w=740&t=st=1690361928~exp=1690362528~hmac=8400e43478d36625d6e2cc0bc5fc7178831b8890199300f881ead33bd8f9258c');
  background-size: cover;
  background-position: center;
  opacity: ;
}

.imgdescribe2 {
  height: 300px;
  background-image: url('https://img.freepik.com/free-vector/data-protection-concept-composition_1284-10001.jpg?w=740&t=st=1690361928~exp=1690362528~hmac=8400e43478d36625d6e2cc0bc5fc7178831b8890199300f881ead33bd8f9258c');
  background-size: cover;
  background-position: center;
  opacity: ;
}

.imgdescribe3 {
  height: 300px;
  background-image: url('https://img.freepik.com/free-vector/data-protection-concept-composition_1284-10001.jpg?w=740&t=st=1690361928~exp=1690362528~hmac=8400e43478d36625d6e2cc0bc5fc7178831b8890199300f881ead33bd8f9258c');
  background-size: cover;
  background-position: center;
  opacity: ;
}

.postcommentimages img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.ck-editor__editable_inline {
  height: 500px;
  border-radius: 15px;
}

.pagination li a,
.pagination li span {
  font-size: 14px;
  padding: 8px 12px;
}

.footer2 {
  background: #141169;
  color: white;
  text-align: center;
  padding: 5px;
}

.footer1 {
  background: #000001;
  color: #cff306;
}

.footer1 .links ul {
  list-style-type: none;
  text-decoration: none;
}

.footer1 .links li a {
  color: white !important;
  text-decoration: none;
  transition: color .2s;
}

.footer1 .links li a:hover {
  text-decoration: none;
  color: #4180CB !important;
}

.footer1 .about-company i {
  font-size: 25px;
}

.footer1 .about-company a {
  color: white;
  transition: color .2s;
}

.footer1 .about-company a:hover {
  color: #4180CB;
}

.footer1 .location i {
  font-size: 18px;
}

.footer1 .copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.welcome-div img {
  border: 1px solid black;
  padding: 10px;
}

.post-content {
  overflow: hidden;
  line-height: 1.5em;
  max-height: 15em;
  text-overflow: ellipsis;
}

.read-more-link {
  color: #3137a9;
  font-weight: 800;
  cursor: pointer;
}

.full-content {
  display: none;
}
</style>
